@import "./reset.css";
@import "./color.css";
@import "./fonts.css";

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    overflow-x: hidden;
}

/* Shared */

.text{
    font-size: var(--medium);
}

.section-title {
    font-family: "Hanuman", sans-serif;
    font-weight: 400;
    font-size: var(--heading);
    line-height: 120%;
    letter-spacing: -1%;
}

.primary-icon {
    fill: var(--primary-text);
    width: 24px;
    height: 24px;
}


.order-button {
    color: inherit;
    font-weight: 500;
    font-size: var(--regular);
    padding: 8px 20px;
    background: var( --primary-button-bg);
    border-radius: 100px;

    border: 1px transparent;
    border-style: solid;
    background-clip: padding-box;
    outline: none;
    transition: 
        background-color 250ms ease-in-out,
        border-color 250ms ease-in-out,
}

.order-button:hover,

.order-button:focus-visible {
opacity: 0.5;
}

.order-button:active {
    opacity: 1;
    background: var(--primary-button-active-bg);
    border-color: var(--primary-button-active-bg);
    color: white;
}

.order-button:disabled, 

.order-button[disabled] {
    background: var(--primary-button-bg);
    opacity: 0.2;
    cursor: auto;
    pointer-events: none;
}

.bestsellers-bouqets-title {
    font-family: "Roboto", sans-serif;    
    font-weight: 600;
    font-size: var(--medium);
}

.bestsellers-bouqets-subtitle {
    font-size: var(--small);
    margin-bottom: 8px;
}

.price-text {
    font-size: var(--large);
}

.pagination-button {
  width: 48px;
  height: 48px;
  background-color: var(--pagination-button-bg);
  border-radius: 100px;
  border: 1px solid var(--pagination-button-border-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-in-out;
  outline: none;
}

.pagination-button:hover, 

.pagination-button:focus-visible {
  background-color: var(--pagination-button-hover-bg);
}

.pagination-button:active {
  background-color: var(--pagination-button-active-bg);
}

.pagination-button:disabled, 
.pagination-button[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.pagination-button__icon {
  fill: var(--primary-text);
  width: 24px;
  height: 24px;
}
.pagination-button__wrapper {
  display: flex;
  gap: 16px;
}

.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination-circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  padding: 0;
}

.pagination-circle_active {
  background: black;
}

.section-wrapper {
    padding: 92px 0;
}
.container{
    width: 1312px;
    padding: 0 16px;
    margin: 0 auto;
}

.general-link{
    transition: text-decoration 250ms ease-in-out;
}

.general-link:hover,

.general-link:focus-visible{
    opacity: 0.6;
}

.general-link:active {
    opacity: 0.4;
}

.general-link.disabled {
    opacity: 0.2;
    pointer-events: none;
}

/* Header */
.header-section{
    padding: 16px 0;
    max-height: 72px;
}

.header-logo {
  width: 370.5px;
  height: 40px;
}

@keyframes pulse {
    0%   { transform: scale(1); }
    10%  { transform: scale(1.15); }
    20%  { transform: scale(1); }
    100% { transform: scale(1); }
}

.header-logo-link {
    display: flex;
    animation: pulse 10s ease-in-out infinite;

}

.navigation {
    display: flex;
}

.navigation-list{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 32px;
}

.header-section .container {
    display: flex;
    justify-content: space-between;
}

.navigation-list-link {
    padding: 8px 0;
}

/* Hero section */

.hero-section {
    background-image: url('../images/hero-bg.jpg');
    background-color: #D9D9D9;
    background-repeat: no-repeat;
    background-position:center;
    min-height: 669px;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {
    max-width: 667px;
    padding-top: 191px;
    padding-bottom: 191px;
}

.hero-title {
    font-family: "Hanuman", sans-serif;
    font-weight: 400;
    font-size: var(--hero-title);
    line-height: 120%;
    letter-spacing: -1%;
    margin-bottom: 24px;
}

.hero-text {
    margin-bottom: 32px;
    max-width: 667px;
}

.hero-button {
    width: 215px;
    height: 44px;
}

.order-button__big {
    padding: 10px 24px;
}

/* About */

.main-image {
    width: 600px;
    height: 428px;
}

#about .container {
    display: flex;
    align-items: center;
    gap: 80px;
    flex-direction: row-reverse;

}

.about-section-title {
    margin-bottom: 24px;
}

/* Bestsellers */

.bestsellers-section-title {
    margin-bottom: 32px;  
}

.bestsellers-list {
    display: flex;
    gap: 32px;
    width: 100%;
    margin-bottom: 48px;
}

.bestsellers-card {
    width: calc(100% / 3)
}

.bestsellers-image {
    width: 405px;
    height: 320px;
    margin-bottom: 16px;
}

.bestsellers-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Bouqets */

.bouquets-header {
    text-align: center;
    margin-bottom: 32px;
}

.bouquets-title{
    margin-bottom: 8px;
}

.bouquets-list {
    display: flex;
    gap: 64px 32px; 
    flex-wrap: wrap;
    margin-bottom: 40px; 
}
.bouquets-list-item {
    flex-basis:calc((100% - (32px * 3)) / 4);
    align-items: center;
    text-align: center;
}

.bouqets-item-image {
    width: 296px;
    height: 296px;
    margin-bottom: 16px;
}

.bouqets-item-show-more-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 406px;
}

/* Feedback */

.feedback-section-title {
    margin-bottom: 32px;
    text-align: center;
}

.feedback-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 32px;
}

.feedback-item {
display: flex;
  flex-direction: column;
  min-height: 228px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
}

.feedback-text {
    width: 341px;
}

.feedback-person-name {
  font-weight: 600;
  font-size: var(--regular);
  margin-top: auto;
}

.feedback-navigation-block {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

/* Contacts */

.contacts-block {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  margin-bottom: 32px;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 500px;
}

.contacts-title {
    margin-bottom: 24px;
}

.contacts-text {
  width: 700px;
}

.contact-text {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  font-size: var(--large);
  line-height: 140%;
  letter-spacing: -1%;
  font-style: normal;
}

.contact-value {
  font-size: var(--regular);
}

.contact-value__underline {
  text-decoration: underline;
}

.florist-image{
    width: 1280px;
    height: 720px;
}

.secondary-contact-text {
  font-weight: 600;
  font-size: var(--regular);
  margin-bottom: 16px;

}

.contacts-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}


.contacts-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 460px;
}

/* Footer */

.footer-section{
    padding: 80px 0;
}

.footer-actions {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 32px;
}

.footer-logo {
  width: 370.5px;
}

.footer-navigation-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-socials {
    display: flex;
    gap: 12px;
    margin-left: auto;
}
.icons {
    font-size: var(--medium);
    line-height: 140%;
    letter-spacing: -1%;
}

.footer-caption{
    font-size: var(--small);
    text-align: center;
}

footer {
  background-color: var(--footer-bg);
  width: 100%;       
  padding: 80px 64px; 
}
